[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Dandy Farid Muhammad (koito97)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dandy Farid Muhammad (koito97)
	label-Verified = -1..+1 group user/Dandy Farid Muhammad (koito97)
	push = group user/Dandy Farid Muhammad (koito97)
	read = group user/Dandy Farid Muhammad (koito97)
	rebase = group user/Dandy Farid Muhammad (koito97)
	removeReviewer = group user/Dandy Farid Muhammad (koito97)
	submit = group user/Dandy Farid Muhammad (koito97)
[access "refs/heads/*"]
	create = group user/Dandy Farid Muhammad (koito97)
	push = +force group user/Dandy Farid Muhammad (koito97)
	pushMerge = group user/Dandy Farid Muhammad (koito97)
	read = group user/Dandy Farid Muhammad (koito97)
[access "refs/tags/*"]
	push = group user/Dandy Farid Muhammad (koito97)
	push = +force group user/Dandy Farid Muhammad (koito97)
